package main

templ ShrimplePomodoroTimer() {
	<html>
		<head>
			<link rel="stylesheet" href="output.css"/>
		</head>
		<body class="bg-blue-900 text-blue-100">
			timer timer timer, yeehaw
		</body>
		<script src="shrimple-pomodoro-timer.js"></script>
	</html>
}
